
.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
}
.btn {
    display: inline-block;
    font-size: 10px;
    padding: 8px;
    background-color: var(--main-dark-green);
    text-decoration: none;
    border: solid 1px var(--main-dark-green);
    border-radius: 4px;
    margin: 8px;
    color: var(--main-cream);
}

.btn:hover {
    background-color: var(--main-light-green);
}

.btn img {
    object-fit: contain;
}