/* for cards */

.card-focus-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-focus-container {
    width: 75%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}


.card-focus {
    width: 100%;
    background-color: var(--main-item-color);
    border-radius: 8px;
    border: solid 1px var(--main-black);
    overflow: hidden;
    box-shadow: 0px 2px 4px rbga(0,0,0,0.2);
    margin: 20px;
}

/*
.card-focus:hover {
    background-color: var(--main-item-color-hover);
}
*/


.card-focus-content {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-focus-content img {
    width: 60%;
    height: auto;
}
/*
.card-focus-content h3 {
    font-size: 28px;
    margin-bottom: 4px;
    color: var(--main-black)
}
*/

#info-table {
    color: var(--main-secondary-text-color);
    font-size: 15px;
    line-height: 1.3;
   
}

#info-table td {
    border: none;    
}