/* properties across all items */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --main-black: #0a0a0a;
    --main-white: #fff;
    
    --main-bg-color: #f2efde;
    --main-bg-border-color: #342512;

    --main-text-color: #342512;
    --main-secondary-text-color: #9d864d;
    --main-hover-text-color: #f2efde; 

    --main-item-color: #374619;
    --main-item-border-color: #374619;
    --main-item-color-hover: #7e883d;

    --main-dark-brown: #342512;
    --main-light-brown: #9d864d;
    --main-cream: #f2efde;
    --main-light-green: #7e883d;
    --main-dark-green: #374619;



}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
    background-color: var(--main-cream);
    color: var(--main-dark-brown);
    
}


.content-container-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#content {
    width: 70%;
}

/* for background blurring */
#main-content-blur {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}




