#parent-child-container {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% auto;

    gap: 0px;
}

#parent-child-container h2 {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
}


#parent-child-container #parentChildForm-add {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parent-child-container #parentChildForm-remove {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parent-child-container #parent-child-table {

    grid-area: 3 / 1 / span 1 / span 2;
    justify-content: center;
}
