table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

tr {
    height: 50px;
    background-color:var(--main-item-color);
}
/*
tr:hover {
    background-color:var(--main-item-color-hover);
}
*/
td, th {
    text-align: center;
    border: solid 1px var(--main-black);
    padding: 10px;
}

th {
    background-color: var(--main-item-color);
}

/*
th:hover {
    background-color: var(--main-item-color-hover);
}
*/