table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: var(--main-cream);
}

tr {
    height: 25px;
    
}
/*
tr:hover {
    background-color:var(--main-item-color-hover);
}
*/
td, th {
    text-align: center;
    padding: 10px;
}


.bordered tr {
    border: solid 1px var(--main-dark-brown);  
}

.borderless th, td, tr {
    border: none;    
}