<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- I think main has to come first--> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <!-- then others -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/splash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards-main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards-focus.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/relationships.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/splash.js') }}"></script>

    {% block head %} 
    {% endblock %}
</head>
<body>
    {% block body %} 
    {% endblock %}
</body>
</html>