{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<!-- main page -->
<div class='content default-grid' id="content-index">

    <!-- grid item 1: logo and app name-->
    <div class="grid-item grid-item-1">
        <div class="logo" id="logo-index">
            <div class="content-container-column">
                    <img src="{{ url_for('static', filename='logos/green-tree-logo.png') }}" alt="Green Tree Logo">
                    <h1>Roots</h1>
            </div>
        </div>
    </div>

    <!-- grid item 2: Name of Current focus-->
    <div class="grid-item grid-item-2">
        <div class="current-family-name" id="current-family-name-index">
            <div class="content-container-row">
                {% if person.nick_name == "" %} 
                <h1>{{person.first_name}} {{person.last_name}}</h1>
                {% else %} 
                <h1>{{person.nick_name}} {{person.last_name}}</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- grid item 3: Account Tasks Panel -->
    <div class="grid-item grid-item-3">
        <div class="account-tasks-panel">
            <div class="content-container-row">
                <a class="btn" id='log-in' href="">Log In</a>
                <a class="btn" id='sign-up' href="">Sign-up</a>
            </div>
        </div>
    </div>
    
    <!-- grid item 4: App Tasks Panel-->
    <div class="grid-item grid-item-4">
        <div class="app-tasks-panel">
            <div class="content-container-column">
                
                <!-- Home -->
                <a class="btn" id='Home' href = "/">Home</a>
                
                <!-- dynamic add-Person form -->
                <a class="btn" id='addPersonBtn'>New Person</a>
                <div class="formContainer" id="personFormContainer"></div>

                <!-- Relationships -->
                <a class="btn" id='addPersonBtn' href="/relationships">Relationships</a>

                <!-- See as table -->
                <a class="btn" id='table' href="/table">See as Table</a>
            </div>
        </div>
    </div>

    <!-- grid item 5: Main Focus View -->
    <div class="grid-item grid-item-5">
        <div class="focus-panel">
            <div class="content-focus">
                
                <!-- Parents -->
                <div class="focus-layer" id="parent-layer">
                    
                    {% for person in parents %}
                    
                    <div class="card-container" person-id = "{{person.id}}" person-first_name="{{person.first_name}}" person-middle_name="{{person.middle_name}}"
                    person-last_name="{{person.last_name}}", person-nick_name="{{person.nick_name}}">
                    <!-- cards are inserted dynamically using Javascript (see cards.js)-->
                    </div>
                    
                    {% endfor %}
                </div>

                <!-- Siblings -->
                <div class="focus-layer" id="sibling-layer">
                    {% for person in siblings %}
                    
                    <div class="card-container" person-id = "{{person.id}}" person-first_name="{{person.first_name}}" person-middle_name="{{person.middle_name}}"
                    person-last_name="{{person.last_name}}", person-nick_name="{{person.nick_name}}">
                    <!-- cards are inserted dynamically using Javascript (see cards.js)-->
                    </div>
                    
                    {% endfor %}
                </div>
                
                <!-- Children -->
                <div class="focus-layer" id="children-layer">
                    {% for person in children %}
                    
                    <div class="card-container" person-id = "{{person.id}}" person-first_name="{{person.first_name}}" person-middle_name="{{person.middle_name}}"
                    person-last_name="{{person.last_name}}", person-nick_name="{{person.nick_name}}">
                    <!-- cards are inserted dynamically using Javascript (see cards.js)-->
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- grid item 6: Secondary App Info --> 
    <div class="grid-item grid-item-6">
        <div class="secondary-panel">
            <div class="content-container-column" id="secondary-panel-column-container">

                <!-- dynamic add-Parent form -->
                <a class="btn" id='addParentBtn'>New Parent</a>
                <div class="formContainer" id="parentFormContainer" data-person-id="{{person.id}}"></div>

                <!-- dynamic add-Sibling form -->
                <a class="btn" id='addSiblingBtn'>New Sibling</a>
                <div class="formContainer" id="siblingFormContainer" data-person-id="{{person.id}}"></div>

                <!-- dynamic add-Child form -->
                <a class="btn" id='addChildBtn'>New Child</a>
                <div class="formContainer" id="childFormContainer" data-person-id="{{person.id}}"></div>

                <!-- Connect or Disconnect parent -->
                <div class="form-container">
                    <form id="parentForm" action="/connect/parent/{{person.id}}" method="POST" data-person-id="{{person.id}}">
                        <!-- 1 dropdown -->
                        <div>
                            <label for="parent">Parent:</label>
                            <select id="parent" name="parent">
                                {% for person in people %}
                                    <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="btn-container">
                            <!-- Add Button -->
                            <div>
                                <input type="submit" name="action" value="Connect">
                            </div>
    
                            <!-- Remove Button -->
                            <div>
                                <input type="submit" name="action" value="Disconnect">
                            </div>
                        </div>
                    </form>                
                </div>

                <!-- Connect or Disconnect sibling -->
                <div class="form-container">
                    <!-- Sibling forms -->
                    <form id="siblingForm" action="/connect/sibling/{{person.id}}" method="POST" data-person-id="{{person.id}}">
                        <!-- 1 dropdown -->
                        <div>
                            <label for="sibling">Sibling:</label>
                            <select id="sibling" name="sibling">
                                {% for person in people %}
                                    <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="btn-container">
                            <!-- Add Button -->
                            <div>
                                <input type="submit" name="action" value="Connect">
                            </div>
    
                            <!-- Remove Button -->
                            <div>
                                <input type="submit" name="action" value="Disconnect">
                            </div>
                        </div>
                    </form>                
                </div>

                <!-- Connect or Disconnect child -->
                <div class="form-container">
                    <form id="childForm" action="/connect/child/{{person.id}}" method="POST" data-person-id="{{person.id}}">
                        <!-- 1 dropdown -->
                        <div>
                            <label for="child">Child:</label>
                            <select id="child" name="child">
                                {% for person in people %}
                                    <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="btn-container">
                            <!-- Add Button -->
                            <div>
                                <input type="submit" name="action" value="Connect">
                            </div>
    
                            <!-- Remove Button -->
                            <div>
                                <input type="submit" name="action" value="Disconnect">
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
        </div>   
    </div>
    
</div>

{% endblock %}