{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 


<!-- commenting out splash for now, it's annoying
<div class="splash" id="splash">
    <div class="splash-content-container">
        <div class="splash-content">
            <img class="fade-in" src="{{ url_for('static', filename='logos/green-tree-logo.png') }}" alt="Green Tree Logo">
            <h1 class="fade-in">Roots</h1>
            <p class="fade-in">Everyone deserves to be remembered</p>
        </div>
    </div>
</div>
-->


<!-- main page -->
<div class='content' id="main-content">

    <!-- dynamic form -->
    <button class="btn" id='addPersonBtn'>Add Person</button>
    <div id="formContainer"></div>

    <!-- See as table -->
    <a class="btn" id='table' href="/table">See as Table</a>
    
    <!-- main page -->
    <h1 style="text-align: center">Family</h1>

    {% if people|length < 1 %}
    
        <h4 style="text-align: center">There are no people. Create one below!</h4>
    
    {% else %}
        
        {% for person in people %}
        
        <div class="card-container">
            <div class="card">
                <div class="card-content">
                    
                    <img src="{{ url_for('static', filename='logos/empty-prof-pic.png') }}" alt="Profile Picture">
                    {% if person.nick_name == "" %} 
                    <h3>{{person.first_name}} {{person.last_name}}</h3>
                    {% else %} 
                    <h3>{{person.nick_name}} {{person.last_name}}</h3>
                    {% endif %}

                    <p>{{person.first_name}} {{person.middle_name}} {{person.last_name}} ({{ person.id }})</p>
                    <p>Child of {{person.parent_id}}</p>
                    <div class="btn-container">
                        <a href="/delete/{{person.id}}" class="btn">Delete</a>
                        <a href="/update_tree/{{person.id}}" class="btn">Update</a>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %} 

    {% endif %}

</div>

{% endblock %}