{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<!-- commenting out splash for now, it's annoying
<div class="splash" id="splash">
    <div class="splash-content-container">
        <div class="splash-content">
            <img class="fade-in" src="{{ url_for('static', filename='logos/green-tree-logo.png') }}" alt="Green Tree Logo">
            <h1 class="fade-in">Roots</h1>
            <p class="fade-in">Everyone deserves to be remembered</p>
        </div>
    </div>
</div>
-->


<!--read by Gregor Cresnar from <a href="https://thenounproject.com/browse/icons/term/read/" target="_blank" title="read Icons">Noun Project</a> (CC BY 3.0)-->
<!--Delete by hans draiman from <a href="https://thenounproject.com/browse/icons/term/delete/" target="_blank" title="Delete Icons">Noun Project</a> (CC BY 3.0)-->
<!--edit by hans draiman from <a href="https://thenounproject.com/browse/icons/term/edit/" target="_blank" title="edit Icons">Noun Project</a> (CC BY 3.0)-->
<!-- main page -->
<div class='content default-grid' id="content-index">

    <!-- grid item 1: logo and app name-->
    <div class="grid-item grid-item-1">
        <div class="logo" id="logo-index">
            <div class="content-container-column">
                    <img src="{{ url_for('static', filename='logos/green-tree-logo.png') }}" alt="Green Tree Logo">
                    <h1>Roots</h1>
            </div>
        </div>
    </div>

    <!-- grid item 2: Name of Current family-->
    <div class="grid-item grid-item-2">
        <div class="current-family-name" id="current-family-name-index">
            <div class="content-container-row">
                <h1>Moncus Family</h1>
            </div>
        </div>
    </div>

    <!-- grid item 3: Account Tasks Panel -->
    <div class="grid-item grid-item-3">
        <div class="account-tasks-panel">
            <div class="content-container-row">
                <a class="btn" id='log-in' href="">Log In</a>
                <a class="btn" id='sign-up' href="">Sign-up</a>
            </div>
        </div>
    </div>
    
    <!-- grid item 4: App Tasks Panel-->
    <div class="grid-item grid-item-4">
        <div class="app-tasks-panel">
            <div class="content-container-column">
                <!-- Home -->
                <a class="btn" id='Home' href = "/">Home</a>
                
                <!-- dynamic add-Person form -->
                <a class="btn" id='addPersonBtn'>New Person</a>
                <div class="formContainer" id="personFormcontainer"></div>

                <!-- Relationships -->
                <a class="btn" id='addPersonBtn' href="/relationships">Relationships</a>

                <!-- See as table -->
                <a class="btn" id='table' href="/table">See as Table</a>
            </div>
        </div>
    </div>

    <!-- grid item 5: Main Tree View -->
    <div class="grid-item grid-item-5">
        <div class="tree-panel">
            <div class="content-tree">
                {% if people|length < 1 %}
    
                <h4 style="text-align: center">There are no people. Create one!</h4>
            
                {% else %}
                    
                    {% for person in people %}
                    
                    <div class="card-container" person-id = "{{person.id}}" person-first_name="{{person.first_name}}"
                    person-last_name="{{person.last_name}}", person-nick_name="{{person.nick_name}}">
                    <!-- cards are inserted dynamically using Javascript (see cards.js)-->
                    </div>
                    
                    {% endfor %} 
            
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- grid item 6: Secondary App Info --> 
    <div class="grid-item grid-item-6">
        <div class="secondary-panel">
            <div class="content-container-column" id="secondary-panel-column-container">
                <h1>None yet</h1>
            </div>
        </div>   
    </div>
    
</div>

{% endblock %}