{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 

<div class="default-grid" id="parent-child-grid">

    <!-- grid item 1: logo and app name-->
    <div class="grid-item grid-item-1">
        <div class="logo" id="logo-index">
            <div class="content-container-column">
                    <img src="{{ url_for('static', filename='logos/green-tree-logo.png') }}" alt="Green Tree Logo">
                    <h1>Roots</h1>
            </div>
        </div>
    </div>

    <!-- grid item 2: Name of Current family-->
    <div class="grid-item grid-item-2">
        <div class="current-family-name" id="current-family-name-index">
            <div class="content-container-row">
                <h1>Moncus Family</h1>
            </div>
        </div>
    </div>

    <!-- grid item 3: Account Tasks Panel -->
    <div class="grid-item grid-item-3">
        <div class="account-tasks-panel">
            <div class="content-container-row">
                <a class="btn" id='log-in' href="">Log In</a>
                <a class="btn" id='sign-up' href="">Sign-up</a>
            </div>
        </div>
    </div>
    
    <!-- grid item 4: App Tasks Panel-->
    <div class="grid-item grid-item-4">
        <div class="app-tasks-panel">
            <div class="content-container-column">
                <!-- dynamic add-Person form -->
                <a class="btn" id='addPersonBtn'>Add Person</a>
                <div id="formContainer"></div>
                <!-- Back to tree -->
                <a class="btn" id='to_tree' href="/">Back to Tree</a>

            </div>
        </div>
    </div>

    <!-- grid item 5: Parent-Child table and forms -->
    <div class="grid-item grid-item-5" id="parent-child-container">
        
        <h2>Parent-Child Relationships</h2>

        <!-- Parent-Child forms -->
        <form id="parentChildForm-add" action="/parent_child_add" method="POST">

            <!-- Parent dropdown -->
            <div>
                <label for="parent">Select Parent:</label>
                <select id="parent" name="parent">
                    {% for person in people %}
                        <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Child dropdown -->
            <div>
                <label for="child">Select Child:</label>
                <select id="child" name="child">
                    {% for person in people %}
                        <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Button to set the parent-child relationship -->
            <div>
                <input type="submit" value="Add">
            </div>
        </form>

        <form id="parentChildForm-remove" action="/parent_child_remove" method="POST">

            <!-- Parent dropdown -->
            <div>
                <label for="parent">Select Parent:</label>
                <select id="parent" name="parent">
                    {% for person in people %}
                        <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Child dropdown -->
            <div>
                <label for="child">Select Child:</label>
                <select id="child" name="child">
                    {% for person in people %}
                        <option value="{{ person.id }}">{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }} ({{person.id}})</option>
                    {% endfor %}
                </select>
            </div>
            
            <!-- Button to set the parent-child relationship -->
            <div>
                <input type="submit" value="Remove">
            </div>
        </form>
        
        

        <!-- Table for parent-child relationships -->
        <table class="borderless" id="parent-child-table">
            <tr>
                <th>Person</th>
                <th>Parents</th>
            </tr>
            {% for person in people %}
                <tr>
                    <td>{{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}</td>
                    <td>
                        {% for person in person.parents %}
                        {{ person.first_name }} {{ person.middle_name }} {{ person.last_name }}, 
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
            
    <!-- grid item 6: Secondary App Info --> 
    <div class="grid-item grid-item-6">
        <div class="secondary-panel">
            <div class="content-container-column">
                <h1>None yet</h1>
            </div>
        </div>   
    </div>
        
</div>


{% endblock %}